*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: mongobold;
    src: url('../../../public/fonts/black-mango-bold.ttf');
}
@font-face {
    font-family: mongoregular;
    src: url('../../../public/fonts/black-mango-regular.ttf');
}

body {
    background-color: #1E1C26;
}

img.backlines {
    position: fixed;
    bottom: -80%;
    z-index: -2;
}
.signup{
    margin: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.signupform{
    background-color: #FFF6FF;
    width: 500px;
    height: 500px;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    padding: 18px;
    color: #1E1C26;
    gap: 12px;
}

.signupform-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin-bottom: 20px;
}
.signupform-header h2 {
    font-size: 24px;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    text-align: center;
}
.signupform-header p {
    font-size: 14px;
    font-family: "Outfit", sans-serif;
    font-weight: 300;
    text-align: center;
    padding: 0px 30px;
}

.signupform-heade .inputs form {
    display: flex;
    flex-direction: column;
}